<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card">
                <h2>Edit author</h2>
                <div class="card-body">
                    <form (submit)="editAuthor()">
                        <div class="form-group">
                            <label for="name">Author Name:</label>
                            <input type="text" name="name" [(ngModel)]="oneAuthor.name" required minlength="4" class="form-control">
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-outline-light" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>