<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2 style="margin: 0 2vw;">Favorite Authors</h2>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/new']">New Author</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>All About Authors</h1>
</div>

<router-outlet></router-outlet>